
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100 100% 96%;
    --foreground: 96 44% 10%;
    --card: 100 100% 98%;
    --card-foreground: 96 44% 10%;
    --popover: 100 100% 98%;
    --popover-foreground: 96 44% 10%;
    --primary: 96 44% 24%;
    --primary-foreground: 100 100% 96%;
    --secondary: 110 45% 90%;
    --secondary-foreground: 96 44% 10%;
    --muted: 110 45% 90%;
    --muted-foreground: 96 44% 35%;
    --accent: 103 41% 40%;
    --accent-foreground: 100 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 110 45% 85%;
    --input: 110 45% 88%;
    --ring: 96 44% 24%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 70% 6%; /* A very deep, dark green */
    --foreground: 120 10% 95%; /* Almost white for high contrast */
    --card: 120 60% 9%; /* A slightly lighter green for cards */
    --card-foreground: 120 10% 95%;
    --popover: 120 60% 9%;
    --popover-foreground: 120 10% 95%;
    --primary: 120 70% 30%; /* Your chosen color #0F4D0F, as the primary highlight */
    --primary-foreground: 120 20% 98%;
    --secondary: 120 50% 15%;
    --secondary-foreground: 120 10% 95%;
    --muted: 120 50% 15%;
    --muted-foreground: 120 10% 65%;
    --accent: 120 70% 25%;
    --accent-foreground: 120 10% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 60% 12%;
    --input: 120 60% 12%;
    --ring: 120 70% 35%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}

/* NProgress styles */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: hsl(var(--primary));
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px hsl(var(--primary)), 0 0 5px hsl(var(--primary));
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}
