
.landing-page-container {
    display: flex;
    min-height: 100vh;
    background-color: #0D0D12;
    color: #F0F0F5;
}

.landing-left-section {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    position: relative;
    z-index: 1;
}

.landing-right-section {
    flex-basis: 50%;
    position: relative;
}

@media (max-width: 768px) {
    .landing-page-container {
        flex-direction: column;
    }

    .landing-left-section {
        flex-basis: auto;
        padding: 2rem;
        text-align: center;
        height: 50vh;
    }

    .landing-right-section {
        flex-basis: auto;
        height: 50vh;
    }
}
